{
   "type": "sh.keptn.event.production.mysequence.triggered",
   "specversion":"1.0",
   "source":"cas-quickstart",
   "data":{
      "project":"demo",
      "stage":"production",
      "service":"casdemoapp"
   }
}