{
  "data": {
    "project":"demo",
    "stage":"production",
    "service": "casdemoapp",
    "status": "succeeded",
    "result": "pass"
  },
  "source": "cas-quickstart",
  "specversion": "1.0",
  "type": "sh.keptn.event.mytask-interactive.finished",
  "shkeptncontext": "REPLACE_ID",
  "triggeredid": "REPLACE_TRIGGER_ID"
}
