{
  "data": {
    "project":"demo",
    "stage":"production",
    "service":"casdemoapp",
    "status": "succeeded",
    "result": "pass",
    "custom":"this is custom data",
    "mytask": {
      "link": "https://a-back-link-to-result",
      "more": "even more data"
    }
  },
  "source": "cas-quickstart",
  "specversion": "1.0",
  "type": "sh.keptn.event.mytask-silent.finished",
  "shkeptncontext": "REPLACE_ID",
  "triggeredid": "REPLACE_TRIGGER_ID"
}