{
  "data": {
    "project":"demo",
    "stage":"production",
    "service":"casdemoapp"
  },
  "source": "cas-quickstart",
  "specversion": "1.0",
  "type": "sh.keptn.event.mytask-silent.started",
  "shkeptncontext": "REPLACE_ID"
}